body {
    background-color: #232324;
    margin-right: 20%;
    margin-left: 20%;
    color: #07afd9;
}

#title {
            text-align: center;
            font-size: large;

        }

#year {
    text-align: center;
    font-size: 5vh;
}

#img {
    display: center;
  margin-left: auto;
  margin-right: auto;
 width: 100%;
    text-align: center;
}

#social-media {
    display: center;
  margin-left: auto;
  margin-right: auto;
    text-align: center;
  width: 50%;
}

table, th, td {
  border: 1px solid;
}

.link {
    text-decoration: none;
    color: #c5c1c1;
}

#song {
    font-family: Lucida Handwriting;
    text-align: center;
    font-style: italic;
    font-weight: 200;
}

#table {
    text-align: center;
    width: -webkit-fill-available;
}

#mp3{
    text-align: center;
}

#tribute-data {
            background-color: #474d44;
            /*box-shadow: 6px 9px 28px #98FB98;*/
            font-family: Georgia;
            padding: 25px 25px;
            margin: 11px;
            margin-top: 0px;
}

footer {
    text-align: center;
}

.data {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
    margin: initial;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #204D80;
  color: white;
}

.fa-instagram {
  background: #F60036;
  color: white;
}

.fa-twitter {
  background: #05AFF2;
  color: white;
}
